.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-container > img {
  min-width: 50%;
  flex: initial;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.links-container > a {
  background-color: #f71e95;
  text-decoration: none;
  border-radius: 20px;
  border: 3px dotted rgb(167, 10, 167);
  color: white;
  width: 100px;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}