body {
  text-align: center;
  background-image: url(images/background.jpg);
  background-color: white;
  color: rgb(114, 26, 102);
  font-family: 'Gabriela';
}

h1 {
  color: MediumVioletRed;
  text-align: center;
  font-size: 50px;
  margin: 25px 50px 20px 50px;
  font-family: 'Emilys Candy';
}

ul {
  list-style: url(images/heart_bullet.png);
  list-style-position: inside;
  /* width: 500px;
  margin: 10px auto 0 auto; */
  padding: 0;
}

p {
  color: #82006f;
  font-size: 20px;
  margin: 15px 50px 15px 50px;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}

.gabriela-regular {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}
